<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Time Scheduler</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Template Main CSS File -->
  <link href="../css/index.css" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
      <h1>Time Scheduler</h1>
    </a>

    </div>
  </header><!-- End Header -->

  <div class="container">

    <form id="submit-form" action="/result" method="post">
      <div class="row">
        <div class="column">
          <div class="cours">
            <label for="teacher">Teacher :</label>
            <select id="teacher" name="teacher">
              <option value="Iftene Adrian">Iftene Adrian</option>
              <option value="Filipescu Iustina">Filipescu Iustina</option>
              <option value="Radulescu Vlad">Radulescu Vlad</option>
            </select></br>
            </br>

            <label for="subject">Subject of the class :</label>
            <select id="subject" name="subject">
              <option value="Programare avansata">Programare avansata</option>
              <option value="Tehnologii Web">Tehnologii Web</option>
              <option value="Tehnologii Web">Sisteme Embedded</option>
              <option value="Tehnologii Web">Calitatea Sistemelor Software</option>
            </select></br>
            </br>

            <label for="classType">Class type :</label>
            <select id="classType" name="classType" onchange="makeSelectVisible(this)">
              <option value="Seminary">Seminary</option>
              <option value="Course">Course</option>
              <option value="Laboratory">Laboratory</option>
            </select></br>
            </br>

            <label for="room">Room assign to this class :</label>
            <select id="room" name="room">
              <option value="C308">Room C308</option>
              <option value="C309">Room C309</option>
              <option value="C101">Room C101</option>
              <option value="C104">Room C104</option>
              <option value="C203">Room C203</option>
            </select></br>
            </br>

            <script>
              function makeSelectVisible(select){
                if (select.value !== "Course"){
                  document.getElementById('group').style.display = 'inline-block';
                  document.getElementById('group-label').style.display = 'inline-block';
                } else{
                  document.getElementById('group').style.display = 'none';
                  document.getElementById('group-label').style.display = 'none';
                }
              }
            </script>



            <label id="group-label" for="group">Student group :</label>
            <select id="group" name="group">
              <option value="A1">Group A1</option>
              <option value="A2">Group A2</option>
              <option value="A3">Group A3</option>
              <option value="A4">Group A4</option>
              <option value="A5">Group A5</option>
              <option value="B4">Group B4</option>
              <option value="B5">Group B5</option>
              <option value="E11">Group E11</option>
              <option value="E12">Group E12</option>
            </select></br>
            </br>


          </div>
        </div>

        <div class="column">
          <div class=" timeslot">
            <label for="day">Day of the class :</label>
            <select id="day" name="day">
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
              <option value="Saturday">Sunday</option>
            </select></br>
            </br>



            <label for="begin_time">Begin of the class :</label>
            <select id="begin_time" name="begin_time">
              <option value="8:00">8:00</option>
              <option value="9:00">9:00</option>
              <option value="10:00">10:00</option>
              <option value="11:00">11:00</option>
              <option value="12:00">12:00</option>
              <option value="13:00">13:00</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
              <option value="17:00">17:00</option>
              <option value="18:00">18:00</option>
            </select></br>
            </br>

            <label for="end_time">End of the class :</label>
            <select id="end_time" name="end_time">
              <option value="10:00">10:00</option>
              <option value="11:00">11:00</option>
              <option value="12:00">12:00</option>
              <option value="13:00">13:00</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
              <option value="17:00">17:00</option>
              <option value="18:00">18:00</option>
              <option value="19:00">19:00</option>
              <option value="20:00">20:00</option>
            </select></br>
            </br>

            <script>
              var begin_time = document.getElementById("begin_time");
              var end_time = document.getElementById("end_time");

              begin_time.onchange = function() {
                var start_hour_as_int = parseInt(begin_time.value.split(":")[0]);
                end_time.value = `${start_hour_as_int + 2}:00`;
                for (var i = 0; i < end_time.children.length; i++){
                  if (parseInt(end_time.children[i].value.split(":")[0]) <= start_hour_as_int + 1){
                    end_time.children[i].classList.add('disabled')
                  }else {
                    end_time.children[i].classList.remove('disabled')
                  }
                }
              }
            </script>

          </div>
        </div>
      </div>
      <input type="submit" value="Submit">
    </form>
  </br>
    <input type="submit" value="See timetable" onclick="location.href='/timetable'">
  </div>

</body>

</html>