<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Time Scheduler</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Template Main CSS File -->
    <link href="../css/index.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
            <h1>Timetable</h1>
        </a>
    </header><!-- End Header -->

    <div class="container">
        <input type="submit" value="Create a new class" onclick="location.href='/'">
        </div>
    </div>

</body>

</html>